.stat-circle
{
  circle.bg
  {
    fill: none;
    stroke: #f1f1f1;
    stroke-width: 1;
  }
  circle.progress
  {
    fill: none;
    stroke: #2ec9;
    stroke-width: 1;
    stroke-dasharray: 51 51;
    stroke-dashoffset: -51;
    stroke-linecap: round;
  }
  text
  {
    font-size: 3px;
    text-anchor: middle;
    fill: #555;
  }
}
